/*
=======================================================
CSS Reset
=======================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=======================================================
Clearfix
=======================================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body{
  background: white;
  color: #000000;
  font-family: 'Nunito', sans-serif;
}

/*
  ========================================
  Header
  ========================================
*/

header{
  width: 800px;
  height: 56px;
  padding-top: 40px;
  margin: 0 360px 15px;
}

header img{
  margin-top: 20px;
  display: inline-block;
}

header div{
  display: inline-block;
  margin-right: 15px;
  margin-left: 559px;
}

header a{
  text-decoration: none;
  color: #333;
}

header .log{
  padding-left: 10px;
  border-left: 1px solid black;
  font-size: 14px;
  font-weight: 100;
}

header .sign{
  margin-right: 10px;
  font-size: 15px;
}

/*
  ========================================
  Section
  ========================================
*/

section{
  width: 710px;
  height: 620px;
  margin: 0 360px;
  padding: 43px 25px 50px 50px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

section .form-wrapper{
  width: 400px;
  height: 620px;
  display: inline-block;
  margin-right: 82px;
}

section .info{
  width: 197px;
  height: 580px;
  margin-bottom: 40px;
  padding-left: 25px;
  border-left: 1px solid lightgrey;
  background: white;
  display: inline-block;
}

section .info .info-txt{
  width: 140px;
  height: 540px;
  padding: 21px 17px 19px 40px;
  background: #f5f5f5;
  position: relative;
}

.info-txt p{
  font-weight: lighter;
  font-size: 20px;
  position: absolute;
  top: 30px;
  left: 22px;
  color: #666;
}

.info-txt ol{
  position: absolute;
  color: #666;
  font-size: 12px;
  font-weight: lighter;
  list-style-type: square;
  left: 35px;
  top: 60px;
  width: 130px;
}

.info-txt ol li{
  padding-bottom: 15px;
}

.info-txt ol li a{
  text-decoration: underline;
  color: #666;
}

.form-wrapper{
  position: relative;
}

.form-wrapper p.title{
  position: absolute;
  font-size: 30px;
  font-weight: lighter;
  line-height: 40px;
}

.form-wrapper .form-container{
  position: absolute;
  top: 130px;
  left: 0;
}

.form-wrapper form label{
  display: block;
  padding: 20px 0;
  font-size: 15px;
  font-weight: 100;
}

.form-wrapper form .input-txt{
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  width: 320px;
  padding-left: 8px;
  padding-right: 6px;
  height: 32px;
  font-size: 0.9em;
}

.form-wrapper form .input-check{
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  width: 17.5px;
  padding-bottom: 5px;
  height: 12.5px;
}

.form-wrapper form input[type=submit]{
    text-transform: uppercase;
    width: 70px;
    height: 34px;
    background: #45cae6;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: white;
}

.form-wrapper p.small{
  position: absolute;
  top: 600px;
  font-size: 12px;
  font-weight: lighter;
  color: #7d7f80;;
}

.form-wrapper p.small a{
  color: #45cae6;
  text-decoration: none;
}

/*
  ========================================
  Footer
  ========================================
*/

footer{
  width: 1500px;
  height: 185px;
  padding: 40px 0;
  text-align: center;
}

footer a{
  text-align: center;
}
